//Configuration file for Nextflow

params {
    expr = "pre-processing/jerby-arnon_sc_skin_filtered_for_scenic.loom"

    TFs = "../resources.aertslab.org/hs_hgnc_tfs.txt"
    motif_tf_annotation = "../resources.aertslab.org/cistarget/motif2tf/motifs-v9-nr.hgnc-m0.001-o0.0.tbl"
    motif_dbs = "../resources.aertslab.org/cistarget/databases/homo_sapiens/hg19/refseq_r45/mc9nr/gene_based/*-10species.mc9nr.feather"

    ctx_mask_dropouts = "False"

    output = "pyscenic_output.loom"

    cell_id_attribute = "CellID"
    gene_attribute = "Gene"
    grn = "grnboost2"

    grnboost2_without_dask = "/SCENIC/SCENICprotocol-master/bin/grnboost2_without_dask.py"


    nb_runs = 100
    max_forks = 16
    parallel_framework = "multiprocessing_pool"
    qsub_walltime_hours = 3



    global{
        outdir = "scenic-output-100x"
        threads = 16  
        qsubaccount = "rivanna_fallahi_lab"
    }

    // latest pySCENIC version tag
    tag = "0.11.0"

}




profiles {
    sbatch {
        process.executor = 'slurm'
        process.pollInterval = '1 min'
        process.queueStatInterval = '5 min'
        clusterOptions = "-A ${params.global.qsubaccount} --partition=standard --nodes=1 --cpus-per-task=${params.global.threads} --time=${params.qsub_walltime_hours}:00:00"
    }


    singularity {
        singularity.enabled = true
        process.container = '/SCENIC/aertslab-pyscenic-0.11.0.sif'
        singularity.autoMounts = true
    }
    example {
        includeConfig 'example.config'
    }

}
